/node_modules

# Builded from ts to js files
/build

# Database from docker-compose files
/pgdata

# Configuration file
.env

# Elastic Beanstalk Files
/.elasticbeanstalk
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.ebextensions
